h3 {
    display: block;
    color: blueviolet;
    font-style: normal;
    text-align:justify;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 2mm;
    font-weight: bolder;
    color: darkorchid;

}













    

